@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.faq-card {
  margin: 40px 0 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  &.hide {
    display: none;
  }
  &__title {
    margin: 0 0 30px;
    font: bold 18px/130% $quincy;
  }

  &__author {
    margin: 0 0 15px;
    display: flex;
  }

  &__author-pic {
  }

  &__author-pic-link {
  // &__author-pic {
    margin: 0 20px 0 0;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }

  &__author-pic,
  &__author-img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__author-text {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__author-title {
    margin: 0 0 10px;
    font: bold 14px/130% $quincy;
    transition: color .5s;
    &:hover {
      color: $darkBlue;
    }
  }

  &__author-category {
    font: 12px/130% $raleway;
    text-transform: uppercase;
    color: $darkBlue;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .5s;
  }

  &__answer {}

  &__answer-details {
    &[open] {
      .faq-card__answer-summary {
        display: none;
      }
    }
  }

  &__answer-summary {
    cursor: pointer;
    list-style: none;
    color: $darkBlue;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .5s;
    &:hover {
      border-bottom-color: currentColor;
    }
  }
}

.faq-block {
  margin: -40px 0 0;
}