@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.faq-card {
  width: calc((100% - 20px) / 2);

  &:nth-child(odd) {
    margin-right: 20px;
  }

  &__title {
    font-size: 22px;
  }

  &__author {}

  &__author-pic {}

  &__author-img {}

  &__author-text {}

  &__author-title {
    font-size: 16px;
  }

  &__author-category {}

  &__answer {}
}

.faq-block {
  display: flex;
  flex-wrap: wrap;
}