@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.articles-sect {
  &__title {}

  &__articles {
    // columns: 3 300px;
    > .gutter-size {
      width: 30px;
    }
    .article-card {
      width: calc((100% - 60px) / 3);
      &__link {}

      &__pic {}

      &__img {}

      &__categories {}

      &__parent-category {}

      &__child-category {}

      &__title {}

      &__descr {}
    }
  }

  &__loadmore {
    margin-top: 75px;
  }
}