@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.articles-sect {
  &__title {}

  &__articles {
    margin: 0 0 -50px;
    width: 100%;
    > .gutter-size {
      width: 20px;
    }
    // display: flex;
    // align-items: flex-start;
    // flex-flow: column wrap;
    // columns: 2 340px;
    // @-moz-document url-prefix() {
      display: flex;
      flex-wrap: wrap;
    // }
    .article-card {
      &__link {}

      &__pic {}

      &__img {}

      &__categories {}

      &__parent-category {}

      &__child-category {}

      &__title {}

      &__descr {}
    }
  }
}