@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.articles-sect {
  &__title {}

  &__articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    > .gutter-size {
      width: 20px;
    }
    .article-card {
      width: calc((100% - 20px) / 2);
      &__link {}

      &__pic {}

      &__img {}

      &__categories {}

      &__parent-category {}

      &__child-category {}

      &__title {}

      &__descr {}
    }
  }
}