@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.article {
  &__header {
    padding: 0 0 55px;
    display: flex;
    flex-flow: column;

    &-title {
      margin: 0;
      font-size: 36px;
    }

    &-inner {
      margin: 10px 0;
      padding-left: 100px;
      // max-width: 555px;
      // width: 100%;
      // margin: 10px 62px 10px auto;
    }

    &-pic {
      height: 395px;
      margin: 10px 0;
      order: -1;
    }
  }

  &__author {
    left: 100px;
    // max-width: 555px;
    // width: 100%;
    // margin: 10px 62px 10px auto;
  }

  &__tags {
    margin: 30px -15px 0 0;
    padding: 0;
  }

  &__tag {
    margin-top: 20px;
  }

  &__share {
    margin-top: 30px;
  }

  &__share-link {
    &:not(:last-child) {
      margin: 0 15px 0 0;
    }

    width: 30px;
    height: 30px;
  }

  &__body {

    padding-left: 100px;
    font-size: 16px;

    .without-grid-left,
    .without-grid {
      margin-left: -100px;
    }

    .is-style-without-grid-left,
    .is-style-without-grid {
      margin-left: -100px;
    }


    .list-with-text-underline-two-columns {}

    .list-item-with-text-underline-two-columns {}

    .wp-block-media-text {
      &.has-media-on-the-right {
        .wp-block-media-text__content {
          padding: 0 35px 0 0;
        }
      }

      &:not(.has-media-on-the-right) {
        .wp-block-media-text__content {
          padding: 0 0 0 35px;
        }
      }
    }

    // Медиа и текст
    .wp-block-media-text {

      // &.has-media-on-the-right {
      //   .wp-block-media-text__content {
      //     padding: 0 8% 0 0;
      //   }
      // }
      // &.has-media-on-the-left {
      //   .wp-block-media-text__content {
      //     padding: 0 0 0 8%;
      //   }
      // }
      .wp-block-media-text__media {
        margin: 0;
      }
    }

    // media object-fit
    .wp-block-media-text {
      &.object-fit-contain {
        >.wp-block-media-text__media {}
      }

      &.no-mobile-media {
        >.wp-block-media-text__media {
          display: block;
        }
      }
    }

    blockquote {
      padding: 30px 0;
      p {
        font-size: 20px;
      }
    }

    .wp-block-media-text,
    .wp-block-column {
      h2 {
        font-size: 24px;
      }

      h3 {
        font-size: 18px;
      }

      h4 {
        font-size: 16px;
      }

      h5 {
        font-size: 15px;
      }

      h6 {
        font-size: 14px;
      }
    }

    h2 {
      margin-top: 50px;
      margin-bottom: 30px;
    }

    h3 {
      margin-top: 40px;
      margin-bottom: 30px;
    }

    h1,
    // h2,
    // h3,
    h4,
    h5,
    h6 {
      margin: 1.35em 0 1em;
    }

    h1 {
      font-size: 36px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    h5 {
      font-size: 15px;
    }

    h6 {
      font-size: 14px;
    }
  }

  // &-sect {

  //   >h1,
  //   >h2,
  //   >h3,
  //   >h4,
  //   >h5,
  //   >h6,
  //   >p,
  //   >ul,
  //   >ol,
  //   >.wp-block-table,
  //   >.wp-block-quote,
  //   >.wp-block-pullquote,
  //   >.wp-block-image,
  //   >.wp-block-audio {
  //     max-width: 555px;
  //     // width: 100%;
  //     margin-right: 62px;
  //     margin-left: auto;
  //   }
  // }

  // *** ЗАГОЛОВКИ И ТЕКСТ***

  // >p {
  //   margin-top: 20px;
  //   margin-bottom: 20px;
  // }

  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   margin-top: 20px;
  //   margin-bottom: 20px;
  // }

  // // *** СПИСКИ ***

  // ul,
  // ol {
  //   padding-left: 20px;
  //   margin-top: 20px;
  //   margin-bottom: 20px;
  // }

  // ol {
  //   li {
  //     &::before {
  //       left: -20px;
  //     }
  //   }
  // }

  // // *** ТАБЛИЦЫ ***

  // .wp-block-table {
  //   table {
  //     margin: 30px 0;
  //   }

  //   tr {
  //     &:first-child {
  //       font-size: 16px;
  //     }
  //   }

  //   td {
  //     padding: 15px 10px;
  //   }
  // }

  // *** ЦИТАТЫ ***

  // blockquote {
  //   margin: 20px 0;
  //   padding: 30px 0;

  //   p {
  //     font-size: 22px;

  //     &+cite {
  //       font-size: 15px;
  //       margin-top: 35px;
  //     }
  //   }
  // }

  // .wp-block-quote {
  //   p {
  //     &::before {
  //       margin-bottom: -20px;
  //       font-size: 144px;
  //     }
  //   }
  // }

  // *** ИЗОБРАЖЕНИЯ ***

  // .wp-block-image {
  //   margin-top: 20px;
  //   margin-bottom: 20px;

  //   figcaption {
  //     // margin: 15px 0;
  //   }
  // }

  // .wp-block-gallery {
  //   margin: 50px auto;
  //   .blocks-gallery-grid {
  //     .blocks-gallery-item {
  //       &:not(:last-child) {
  //         margin: 0 40px 0 0;
  //       }
  //       // &:first-child {
  //       //   margin-left: auto;
  //       // }

  //       // &:last-child {
  //       //   margin-right: auto;
  //       // }

  //       figure {
  //         // width: 288px;
  //         // height: 383px;
  //       }
  //     }
  //   }
  // }

  div,
  figure {
    &.screen-width {
      // margin-left: calc((50vw - 360px) * -1);
      margin-left: calc((50vw - 260px) * -1);
    }
  }

  .wp-block-columns {
    .wp-block-column:not(:last-child) {
      p {
        margin: 0 0 30px;
      }
    }
  }

  // *** АУДИО ***

  // .wp-block-audio {
  //   audio {
  //     width: 100%;
  //     margin: 25px 0;
  //   }
  // }
}

.related-articles {
  &__title {}

  &__articles {
    .article-card {
      &__link {}

      &__pic {}

      &__img {}

      &__categories {}

      &__parent-category {}

      &__child-category {}

      &__title {}

      &__descr {}
    }
  }
}