@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.search-popup {
  padding: 0 20px;
  background: $lightYellow;

  &__cnt {
    padding: 150px 0;
    max-width: 670px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background: inherit;
  }

  &__close {
    margin: 0;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  &__close-svg {}

  &__close-path {}

  &__title {
    margin: 0 0 30px;
    text-align: center;
  }

  &__categories {
    margin: 20px auto 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  &__categories-title {
    width: 100%;
    font-family: $quincy;
  }

  &__category-link {
    margin: 5px 15px 0 0;
    display: inline-block;
    border-bottom: 1px solid;
    transition: border-bottom-color .5s;
  }
}

.search-form {
  margin: 0 auto;
  width: 100%;
  max-width: 670px;
  display: flex;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: block;
    width: 14px;
    height: 14px;
    background: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xNS44NTMgMTYuNTZDMTQuMTcgMTguMDc3IDExLjk0MiAxOSA5LjUgMTlDNC4yNTcgMTkgMCAxNC43NDMgMCA5LjVDMCA0LjI1NyA0LjI1NyAwIDkuNSAwQzE0Ljc0MyAwIDE5IDQuMjU3IDE5IDkuNUMxOSAxMS45NDIgMTguMDc3IDE0LjE3IDE2LjU2IDE1Ljg1M0wyNCAyMy4yOTNMMjMuMjkzIDI0TDE1Ljg1MyAxNi41NlpNOS41IDFDMTQuMTkxIDEgMTggNC44MDkgMTggOS41QzE4IDE0LjE5MSAxNC4xOTEgMTggOS41IDE4QzQuODA5IDE4IDEgMTQuMTkxIDEgOS41QzEgNC44MDkgNC44MDkgMSA5LjUgMVoiIGZpbGw9IiMyODI4MjgiLz48L3N2Zz4=') center/contain no-repeat;
  }
}

.search {
  &__inp {
    padding: 10px;
    max-width: 100%;
    width: 100%;
    border: 0;
    background: 0 0;
    border-bottom: 1px solid $black;
  }
}