@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.page-template-authors {
  .author-articles-sect__descr {
    margin-bottom: 0;
  }  
}

.author-articles-sect {
  &__title {
    &.sect-h1 {
      margin-left: $sectionHorizontalPaddingMinus768;
    }
  }

  &__descr {
    margin: 0 0 -40px 105px;
    padding: 35px 0 55px;
    &::before {
      // decor ring
      width: 330px;
      height: 125px;
    }
  }

  &__articles {
    >.gutter-size {}
  }

  &__loadmore {}
}

.author-articles-sect {
  &__categories {
    &.active {
      >.author-articles-sect__current-category {
        &::after {}
      }

      >.author-articles-sect__categories-list {}
    }
  }

  &__current-category {
    &::after {}
  }

  &__categories-list {}

  &__category {
    &:not(:last-child) {}
  }
}

.author-articles {
  .author-articles-slider {
    .author-article-card {
      &__pic-link {}

      &__pic {}

      &__img {}

      &__text {}

      &__author {}

      &__link {}

      &__author-pic {}

      &__author-text {}

      &__author-name {}

      &__category {}

      &__title-link {}

      &__title {}
    }
  }

  &.author-articles-masonry {
    > .gutter-size {
      width: 20px;
    }
    .author-article-card {
      max-width: 100%;
      width: calc((100% - 20px) / 2);
      &__pic-link {}

      &__pic {
        width: 350px;
        height: 410px;
      }

      &__img {}

      &__text {}

      &__author {}

      &__link {}

      &__author-pic {}

      &__author-text {}

      &__author-name {}

      &__category {}

      &__title-link {}

      &__title {}
    }
  }

  .author-article-card {
    &__pic-link {}

    &__pic {}

    &__img {}

    &__text {}

    &__author {}

    &__link {}

    &__author-pic {}

    &__author-text {}

    &__author-name {}

    &__category {}

    &__title-link {}

    &__title {}
  }
}