@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.author-articles-sect {
  margin-top: 0;
  &__title {
    &.sect-h1 {
      margin: 0 0 40px -20px;
      padding: 40px 0;
      width: 100vw;
      text-align: center;
      background: $lightBlue;
    }
  }

  &__descr {
    margin: 0 0 30px;
    padding: 25px 0 30px;
    max-width: 375px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 280px;
      height: 105px;
      border: 1px solid $lightBeige;
      border-radius: 50%;
      transform: rotate(-14deg);
      z-index: -1;
      pointer-events: none;
    }
  }

  &__decor-star {
    display: none;
  }

  &__articles {
    >.gutter-size {}
  }

  &__loadmore {}
}

.author-articles {
  margin-bottom: -40px;

  .author-articles-slider {
    .author-article-card {
      &__pic-link {}

      &__pic {}

      &__img {}

      &__text {}

      &__author {}

      &__link {}

      &__author-pic {}

      &__author-text {}

      &__author-name {}

      &__category {}

      &__title-link {}

      &__title {}
    }
  }

  .author-articles-masonry {
    .author-article-card {
      &__pic-link {}

      &__pic {}

      &__img {}

      &__text {}

      &__author {}

      &__link {}

      &__author-pic {}

      &__author-text {}

      &__author-name {}

      &__category {}

      &__title-link {}

      &__title {}
    }
  }

  .author-article-card {
    margin: 0 0 40px;

    &__pic-link {}

    &__pic {}

    &__img {}

    &__text {}

    &__author {}

    &__link {}

    &__author-pic {}

    &__author-text {}

    &__author-name {}

    &__category {}

    &__title-link {}

    &__title {}
  }
}