@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.author-articles-sect {
  &__title {}

  &__descr {
    margin: 0 0 -40px 105px;
    padding: 35px 0 55px;
    &::before {
      width: 330px;
      height: 125px;
    }
  }

  &__articles {
    >.gutter-size {}
  }

  &__loadmore {}
}

.author-articles {
  .author-articles-slider {
    .author-article-card {
      &__pic-link {}

      &__pic {}

      &__img {}

      &__text {}

      &__author {}

      &__link {}

      &__author-pic {}

      &__author-text {}

      &__author-name {}

      &__category {}

      &__title-link {}

      &__title {}
    }
  }

  .author-articles-masonry {
    .author-article-card {
      &__pic-link {}

      &__pic {}

      &__img {}

      &__text {}

      &__author {}

      &__link {}

      &__author-pic {}

      &__author-text {}

      &__author-name {}

      &__category {}

      &__title-link {}

      &__title {}
    }
  }

  .author-article-card {
    &__pic-link {}

    &__pic {}

    &__img {}

    &__text {}

    &__author {}

    &__link {}

    &__author-pic {}

    &__author-text {}

    &__author-name {}

    &__category {}

    &__title-link {}

    &__title {}
  }
}