@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.author-articles-sect {
  &__title {
    &.sect-h1 {
      margin-left: $sectionHorizontalPaddingMinus576;
    }
  }

  &__articles {
    >.gutter-size {}
  }

  &__loadmore {}

  &.authors-page {
    .author-articles-sect__descr-block {
      margin: 0 0 50px;
      display: flex;
      align-items: flex-end;
    }
  }
}

.author-articles-sect {
  &__categories {
    margin: 0 0 15px auto;
    &.active {
      >.author-articles-sect__current-category {
        &::after {}
      }

      >.author-articles-sect__categories-list {}
    }
  }

  &__current-category {
    &::after {}
  }

  &__categories-list {}

  &__category {
    &:not(:last-child) {}
  }
}

.author-articles {
  display: flex;
  flex-wrap: wrap;

  &.author-articles-slider {
    margin: 0;

    .slick-list {
      overflow: hidden;
    }

    .author-articles-slider__nav {
      margin: 0 0 30px auto;
      display: flex;
      align-items: center;
    }

    .author-articles-slider__prev,
    .author-articles-slider__next {
      color: $darkBlue;
    }

    .author-articles-slider__prev {
      margin: 0 20px 0 0;
    }

    .author-article-card {
      margin: 0 20px 0 0;
      width: calc((100% - 20px) / 2);

      &:last-child {
        margin-right: 0;
      }

      &__pic-link {}

      &__pic {}

      &__img {}

      &__text {}

      &__author {}

      &__link {}

      &__author-pic {}

      &__author-text {}

      &__author-name {}

      &__category {}

      &__title-link {}

      &__title {}
    }
  }

  &.author-articles-masonry {
    .author-article-card {
      width: calc((100% - 20px) / 2);

      &:nth-child(odd) {
        margin-right: 20px;
      }

      &__pic-link {}

      &__pic {}

      &__img {}

      &__text {}

      &__author {}

      &__link {}

      &__author-pic {}

      &__author-text {}

      &__author-name {}

      &__category {}

      &__title-link {}

      &__title {}
    }
  }

  .author-article-card {
    &__pic-link {}

    &__pic {}

    &__img {}

    &__text {}

    &__author {}

    &__link {}

    &__author-pic {}

    &__author-text {}

    &__author-name {}

    &__category {}

    &__title-link {}

    &__title {}
  }
}