@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.author-articles-sect {
  position: relative;
  &__title {}

  &__descr {
    margin: 0 0 -70px 135px;
    padding: 30px 0 85px;
    max-width: 415px;
    font-size: 16px;
    line-height: 130%;
    &::before {
      width: 415px;
      height: 160px;
      left: -50px;
    }
  }

  &__decor-star {
    position: absolute;
    bottom: 0;
    left: calc(50vw - 85px);
    display: block;
    width: 170px;
    height: 170px;
    pointer-events: none;
  }

  &__articles {
    >.gutter-size {}
  }

  &__loadmore {}
}

.author-articles {
  &.author-articles-slider {
    // отступы чтобы было нормально видно звезду
    .slick-list {
      padding: 0 0 85px;
    }
    .author-article-card {
      width: calc((100% - 30px) / 2);
      &:not(:last-child) {
        margin-right: 30px;
      }
      &__pic-link {}

      &__pic {}

      &__img {}

      &__text {}

      &__author {}

      &__link {}

      &__author-pic {}

      &__author-text {}

      &__author-name {}

      &__category {}

      &__title-link {}

      &__title {}
    }
  }

  &.author-articles-masonry {
    .author-article-card {
      &__pic-link {}

      &__pic {}

      &__img {}

      &__text {}

      &__author {}

      &__link {}

      &__author-pic {}

      &__author-text {}

      &__author-name {}

      &__category {}

      &__title-link {}

      &__title {}
    }
  }

  .author-article-card {
    &__pic-link {}

    &__pic {}

    &__img {}

    &__text {}

    &__author {}

    &__link {}

    &__author-pic {}

    &__author-text {}

    &__author-name {}

    &__category {}

    &__title-link {}

    &__title {}
  }
}