@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.search-hero {
  &__articles {
  }

  &__form {
    // margin: auto;
    // max-width: 670px;
  }
}

.search-hero-article {
  margin: 40px 0 0;
  max-width: 400px;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  &__link-pic {
    margin: 0 0 20px;
  }

  &__pic {}

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {}

  &__categories {
    margin: 15px 0;
    font: 12px/130% $raleway;
    text-transform: uppercase;
    color: $darkBlue;
  }

  &__parent-category,
  &__child-category {
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .5s;
  }

  &__link-title {
    margin: 0 0 15px;
    display: block;
  }

  &__title {
    font: bold 18px/130% $quincy;
    transition: color .5s;
  }

  &__descr {}
}