@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hero-404 {
  width: 100%;
  padding: 35px 20px;
  min-height: 500px;
  background: $lightYellow;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  +.ftr {
    margin-top: 0;
  }

  &__title {
    color: $darkBlue;
    font: bold 150px $quincy;
  }

  &__text {
    max-width: 180px;
    margin: -10px 0 35px;
    text-align: center;
  }
}
