@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.hero-404 {
  background: url('../img/author-hero-bg-desktop.svg') center/cover no-repeat, $lightYellow;
  &__title {
    font-size: 190px;
  }

  &__text {
    margin: 0 0 35px;
    // margin: -20px 0 35px;
  }
}