$blue: #b5cfd3;
$darkBlue: #4a7987;
$dirtyBlue: #b1bfbe;
$beige: #baaba1;
$lightBeige: #f0e8df;
$brown: #ac7f55;
$brightOrange: #e73e1b;
$lightGray: #e4e4e4;
$gray1: #c4c4c4;
$gray2: #a3a3a3;
$gray3: #7e7e7e;
$gray4: #5f5f5f;
$darkGray: #5f5f5f;
$light: #f3f3f3;
$lightBlue: #f0fbfe;
$lightYellow: #fefbf6;
$orange: #e46a4f;
$white: #fff;
$black: #282828;