@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.author-article-card {
  &__pic-link {
    margin-top: 20px;
  }

  &__pic {
    width: 340px;
    height: 390px;
  }

  &__img {}

  &__text {}

  &__author {
    margin: 0 0 15px;
  }

  &__link {}

  &__author-pic {}

  &__author-text {}

  &__author-name {
    font-size: 16px;
  }

  &__category {}

  &__title-link {
  }

  &__title {
    font-size: 22px;
  }
}