@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

@keyframes rotation {
  0% {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.index-hero-sect {
  padding-bottom: $sectionVerticalPadding320;
  position: relative;
  display: flex;
  // background: url('../img/index-hero-line.svg') center/100% auto no-repeat, #FEFBF6;

  &.slick-slider {
    // display: block;
    flex-flow: column;
    .index-hero-slide {
      margin: 0;
      opacity: 1;
    }
  }

  .slick-list {
    margin: 0 0 0 #{-$sectionHorizontalPadding320};
    width: 100vw;
    overflow: hidden;
  }

  &__circle {
    // position: absolute;
    // top: 30px;
    // left: 10%;
    // z-index: 1;
    // animation: rotation linear 15s infinite;
  }

  &__slide {
    margin: 0 0 0 -20px;
    flex-shrink: 0;
    width: 100vw;
    display: flex;
    flex-flow: column;
    transition: opacity .5s;

    &:not(:first-of-type) {
      opacity: 0;
    }

    // with big image
    &.big-img {}

    // with small image
    &.small-img {}
  }

  &__progress {
    order: 10;
    margin: 30px auto 0;
    justify-content: center;
    color: $gray1;
  }

  &__dots {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    width: 100%;
    height: 500%;
    z-index: 1;
    order: 10;
  }

  &__dot {
    height: 100%;
    flex-shrink: 0;
  }

  .slider-progress {
    &__current-number {
      color: $darkBlue;
    }

    &__bar {
      background: $gray1;
      position: relative;
    }

    &__background {
      background: $darkBlue;
    }
  }

}


.index-hero-slide {
  &__pic-link {
    height: responsive('320->575', '200->300');
  }

  &__pic {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    margin: 25px 0 0;
    padding: 0 20px;
  }

  &__categories {
    margin: 0 0 10px;
    padding: 4px 10px 2px;
    display: inline-block;
    font: 12px/130% $raleway;
    text-transform: uppercase;
    color: $white;
    background: $beige;
  }

  &__parent-category,
  &__child-category {
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .5s;
  }

  &__title {
    font: bold 20px/120% $quincy;
    transition: color .5s;
  }

  &__descr {
    display: none;
  }
}