@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-hero-sect {

  &__slide {
    padding: 30px 50px 0;
    height: 400px;

    &.small-img {
      .index-hero-slide__pic-link {
        width: 480px;
      }
    }

    &.big-img {
      .index-hero-slide__pic-link {}
    }
  }

  &__progress {
    left: calc(50vw - 430px);

    .slider-progress__bar {}

    .slider-progress__background {}
  }

  &__prev,
  &__next {
    align-items: center;
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: transform .5s, opacity .5s;
    z-index: 1;

    >.arrow__svg {
      display: none;
    }

  }

  &__prev {
    justify-content: flex-start;
    left: calc(50vw - 475px);
  }

  &__next {
    justify-content: flex-end;
    right: calc(50vw - 475px);
  }

}

.index-hero-slide {

  &.slick-current {
    .index-hero-slide__text {
      &::before {}
    }
  }

  &__pic-link {}

  &__pic {}

  &__img {}

  &__text {
    max-width: 400px;

    &::before {}
  }

  &__categories {}

  &__parent-category {}

  &__title {
    font-size: 30px;
  }

  &__descr {}
}