@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

.menu__logo,
.hdr__logo,
.ftr__logo,
.hdr__burger,
.hdr__search {
  &:hover {
    filter: invert(0.5)
  }
}

// .hdr__nav-li > .nav-link:hover {
.link-with-bottom-line:hover {
  &::after {
    transform: translate3d(0, 100%, 0);
    opacity: 1;
  }
}

.contacts__block-socials-link,
.menu__link,
.ftr__link {
  &:hover {
    filter: brightness(1);
  }
}

// .menu__nav-li > .nav-link,
.faq-card__author-category,
.author-hero__category,
.index-hero-slide__parent-category,
.index-hero-slide__child-category,
.article-card__parent-category,
.article-card__child-category,
.search-hero-article__parent-category,
.search-hero-article__child-category,
.category-hero-article-card__parent-category,
.category-hero-article-card__child-category,
.author-article-card__category {
  &:hover {
    border-bottom-color: currentColor;
  }
}

.btn {
  &:hover {
    &::after {
      transform: rotate(4deg);
    }
    &::before {
      transform: rotate(-4deg);
    }
  }
}


.author-hero-articles-sect__category-btn,
.menu__close,
.category-hero-menu__btn,
.popup__close {
  &:hover {
    color: $orange;
  }
}

.author-hero-article__link-pic:hover+.author-hero-article__text .author-hero-article__title,
.author-hero-article__title:hover,

.search-hero-article__link-pic:hover+.search-hero-article__text .search-hero-article__title,
.search-hero-article__title:hover,

.index-hero-sect.small-img .index-hero-slide__pic-link:hover ~ .index-hero-slide__text > .index-hero-slide__title-link > .index-hero-slide__title,
.index-hero-slide__title:hover,

.article-card__link:hover .article-card__title,
.article-card__link:hover~.article-card__link .article-card__title,

.category-hero-article-card__link:hover .category-hero-article-card__title,
.category-hero-article-card__link:hover~.category-hero-article-card__text .category-hero-article-card__title,

.author-article-card__title-link:hover .author-article-card__title,
.author-article-card__pic-link:hover~.author-article-card__text .author-article-card__title,

.author-article-card__author-name:hover,
.author-article-card__author-pic-link:hover~.author-article-card__author-text .author-article-card__author-name {
  text-decoration-color: currentColor;
}

.arrow_next:hover,
.arrow_prev:hover {
  .arrow-path {
    transform: translateX(3px);
  }
}

.ftr__policy {
  &:hover {
    border-bottom-color: transparent;
  }
}

.ftr__dev-link:hover {
  .ftr__dev-logo-line {
    opacity: 0;
  }
}

.contacts__block-link {
  &:hover {
    color: $darkBlue;
  }
}

.contacts__link {
  &:hover {
    background: transparent;
  }
}