@import 'assets/colors';
@import 'assets/mixins';
@import 'assets/variables';

.article-card__parent-category,
.article-card__child-category,
.author-article-card__category {
  &:hover {
    border-bottom-color: currentColor;
  }
}

.btn {
  &:hover {
    &::after {
      transform: rotate(4deg);
    }
    &::before {
      transform: rotate(-4deg);
    }
  }
}


.popup__close {
  &:hover {
    color: $orange;
  }
}

.article-card__link:hover .article-card__title,
.article-card__link:hover~.article-card__link .article-card__title,

.author-article-card__title-link:hover .author-article-card__title,
.author-article-card__pic-link:hover~.author-article-card__text .author-article-card__title,

.author-article-card__author-name:hover,
.author-article-card__author-pic-link:hover~.author-article-card__author-text .author-article-card__author-name {
  text-decoration-color: currentColor;
}