@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.horoscope {
  &-author {
    display: flex;

    &__info {
      margin-right: 90px;
      font-size: 15px;
    }

    &__name {
      font-size: 16px;
    }

    &__descr {
      margin-top: 0;
      max-width: 355px;
      width: 100%;
      position: relative;
      font-size: 15px;

      &::after {
        content: '';
        width: 324px;
        height: 184px;
        position: absolute;
        top: -60px;
        right: -80px;
        background: url('../img/decor-elips-with-star-beige.svg') no-repeat center/contain;
        z-index: -1;
      }
    }
  }
}