@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.about-concept {
  &__title {
  }
  &__text {
    margin-bottom: 100px;
    display: flex;
  }
  &__text-left {
    margin: 0 20px 0 0;
  }
  &__descr {
  }
  &__text-right {
  }
  &__links {
    &::before {
      top: -130px;
      transform: none;
      width: 440px;
      height: 240px;
    }
  }
  &__links-title {
  }
  &__link {
  }
}