@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';


.hdr {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  &.fixed {
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    animation: translateToBottom .5s;
    z-index: 2;
    .hdr__logo,
    .hdr__nav {
      display: none;
    }
    .hdr__burger {
      margin: 0 auto 0 0;
    }
  }
  &__burger,
  &__search {
    transition: filter .35s;
    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      background: center/contain no-repeat;
      pointer-events: none;
    }
  }

  &__burger {
    width: 24px;
    height: 16px;
    &::before {
      background-image: url('../img/icon-burger.svg');
    }
  }

  &__logo {
    flex-shrink: 0;
    margin: auto;
    transition: filter .35s;
  }

  &__logo-img {
    width: 100%;
  }

  &__search {
    width: 16px;
    height: 16px;
    &::before {
      background-image: url('../img/icon-search.svg');
    }
  }

  &__nav {
    display: none;
  }

  &__nav-list {}

  &__nav-li {
    &.current {
      pointer-events: none;
      > .nav-link {
        &::after {
          bottom: -2px;
          width: 50%;
          opacity: 1;
          transform: none;
          background: $orange;
        }
      }
    }
  }
}