@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.category-hero-sect {
  &__menu {
    font-size: 18px;
  }
}

.category-hero-menu {
  &__li {
  }

  &__btn {}

  &__dot {
    margin: 0 25px 2px;
  }
}

.category-hero-articles {
  margin-bottom: 0;
  > .gutter-size {
    width: 40px;
  }
  &__articles {
    .category-hero-article-card {
      &__link {}

      &__pic {}

      &__img {}

      &__text {}

      &__categories {}

      &__parent-category {}

      &__child-category {}

      &__title {}

      &__descr {}
    }
  }
}

.category-hero-article-card {
  width: calc(((100% - (50vw - 600px) * 2) - 40px) / 2);
  &:not(.category-hero-article-card--height2) {
    height: 310px;

    .category-hero-article-card__pic {
      width: 270px;
      height: 310px;
    }

    .category-hero-article-card__text {
      margin-left: 40px;
    }
  }

  &--height2 {
    width: calc(((100% - (50vw - 600px) * 2) - 40px) / 2);
    height: 310px * 2 + 50px;

    .category-hero-article-card__pic {
      height: 525px;
    }

    .category-hero-article-card__categories {
      margin: 20px 0;
    }
  }
  &__link {
  }

  &__pic {}

  &__img {}

  &__text {}

  &__categories {}

  &__parent-category {}

  &__child-category {}

  &__title {}

  &__descr {}
}