@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.category-hero-sect {
  &__title {
    margin: 0 0 50px;
  }

  &__menu {
    font-size: 16px;
  }
}

.category-hero-menu {
  &__li {}

  &__btn {}

  &__dot {
    margin: 0 20px 2px;
  }
}

.category-hero-articles {
  &__articles {
    .category-hero-article-card {
      &__link {}

      &__pic {}

      &__img {}

      &__text {}

      &__categories {}

      &__parent-category {}

      &__child-category {}

      &__title {}

      &__descr {}
    }
  }
}

.category-hero-article-card {
  width: calc(((100% - (50vw - 360px) * 2) - 20px) / 2);

  &__link {}

  &__pic {}

  &__img {}

  &__text {}

  &__categories {}

  &__parent-category {}

  &__child-category {}

  &__title {
    font-size: 22px;
  }

  &__descr {}
}