@import '../../scss/assets/colors';
@import '../../scss/assets/mixins';
@import '../../scss/assets/variables';

.index-quote-sect {
  &__title {}

  &__pic-wrap {
    margin: -55px -32px 0 0;
    padding: 95px 135px;
  }

  &__pic {
    // width: 240px;
    // height: 300px;
    &::before {
      // decor blue star
      right: auto;
      left: 0;
      transform: translate(-50%, -50%);
      width: 172px;
      height: 172px;
    }
  }

  &__img {}
}

.index-quote-block {
  max-width: 380px;
  &__text {
    font-size: 24px;
  }

  &__author {}
}